/*css sa navbar*/
body{
	background: url(1.jpg) no-repeat;
	
}

#main ul li a{

	font-family: 'Libre Baskerville', serif;
	font-size: 15px;
	padding: 0
	margin-left: 20px;
	color:white;
	font-size: 17px;


}
.logo img{
	margin-top: 1vh;
	float: right;
	height: 8vh;
	width: 10vh;
	position: absolute;
	top: 0px;
	left: 33vh
}
header{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 4vh;
	padding: 5vh;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 500;


}


ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul li {
	float: left;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	

}
ul li a {
	text-decoration: none;
	color: white;
	display: block;
	
}
ul li a:hover {
	background-color: #C68C0D;

}
ul li ul li {
	display: none;
}
ul li:hover ul li {
	display: block;
}


/*Stem main header*/
.container header{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 4vh;
	padding: 5vh;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:rgb(0,0,0,.9)


}
.container header h1{
	font-size: 5vh;
	padding: 0;
	border: 100px;
	position: relative;
	left: 1px;
	color: white;
}

.highlight{
	color: #C68C0D;
	font-size: 5vh
}
/*Stem sport header */


#stem-table h2{
	font-family: sans-serif;
	font-size: 4vh;
	font-weight: bold;
	position: relative;
	left: 30vh;
	color: white;
	z-index: -1;
	font-family: 'Libre Baskerville', serif;
}
#baseball-table h3{
	font-family: sans-serif;
	font-size: 4vh;
	font-weight: bold;
	margin-right: 20px;
	position: relative;
	left: 31vh;
	color: white;
	z-index: -1;
	font-family: 'Libre Baskerville', serif;
}
#billiard-table h4{
	font-family: sans-serif;
	font-size: 4vh;
	font-weight: bold;
	margin-right: 20px;
	position: relative;
	top: 10px;
	left: 33vh;
	color:white;
	font-family: 'Libre Baskerville', serif;

}
#Volleyball-table h5{
	color: white;
	font-family: sans-serif;
	font-size: 4vh;
	font-weight: bold;
	margin-right: 20px;
	position: relative;
	left: 6px;
	top: 20px

}

/* taman dari*/
/*basketball na part*/
#stem-table table{
	width: 100vh;
	height: 5vh;
	font-size:3vh;
	font-family: sans-serif;
	margin:1vh;
	border-spacing:none;
	border-collapse: collapse;
	background-color: white;
	z-index: 100;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#stem-table table,th,td{
	border: 2px solid #000
}
#stem-table th{
	background-color: #1A77F6;
	color: #FCFAEF;
	text-align: left;
	height: 10px;
}
#stem-table th,td{
	padding: 10px;
}


#stem-table	 tr{
	font-weight: lighter;
}
/*Baseball na part*/
#baseball-table table{
	width: 100vh;
	height: 5vh;
	font-size:3vh;
	font-family: sans-serif;
	margin:1vh;
	border-spacing:none;
	border-collapse: collapse;
	background-color: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#baseball-table  table,th,td{
	border: 2px solid #000
}
#baseball-table  th{
	background-color: #1A77F6;
	color: #FCFAEF;
	text-align: left;
	height: 10px;
}
#baseball-table  th,td{
	padding: 10px;
}

#baseball-table tr{
	font-weight: lighter;
}
/*billiard na part*/
#billiard-table table{
	width: 100vh;
	height: 5vh;
	font-size:3vh;
	font-family: sans-serif;
	margin:1vh;
	border-spacing:none;
	border-collapse: collapse;
	background-color: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	
}
#billiard-table  table,th,td{
	border: 2px solid #000

}
#billiard-table  th{
	background-color: #1A77F6;
	color: #FCFAEF;
	text-align: left;
	height: 10px;
}
#billiard-table th,td{
	padding: 10px;
	
}

#billiard-table	tr{
	font-weight: lighter;
	color:black;	
}
/*Volleyball na part*/
#Volleyball-table table{
	width: 100vh;
	height: 5vh;
	font-size:3vh;
	font-family: sans-serif;
	margin:1vh;
	border-spacing:none;
	border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	
}
#Volleyball-table  table,th,td{
	border: 2px solid #000
}
#Volleyball-table  th{
	background-color: #1A77F6;
	color: #FCFAEF;
	text-align: left;
	height: 10px;
}
#Volleyball-table  th,td{
	padding: 10px;
}

#Volleyball-table table tr:nth-child(even){
	background-color: #EDE8E8
}
#Volleyball-table tr{
	font-weight: lighter;
	color:black;	
}



/*Positioning*/
#stem-table{
	position: absolute;
	top: 10vh;
	right: 50vh;
}
#baseball-table{
	overflow: hidden;
	position: absolute;
	top: 48vh;
	right: 50vh;

}
#billiard-table{
	position: absolute;
	top: 85vh;
	right: 50vh;
}
#Volleyball-table{
	position: absolute;
	top: 56vh;
	right: 20vh;
}	
/*navtxt css*/

.navtxt ul li a{
	color: white;
	
	font-family: sans-serif;
 	background:rgb(0,0,0,.5);
}
.navtxt ul li a:hover{
	background-color: #C68C0D;
}
.sportsnav ul li a:hover{
	background-color:#C68C0D;
}
.sportsnav ul li a{
	color: white;
	font-family: sans-serif;
	background:rgb(0,0,0,.5);
}


/*table hover*/




footer{
	position: absolute;
	right: .2vh;
	padding: 15px;
	margin-right: 0;
	margin-top: 141vh;
	color: white;
	background-color: #C68C0D;
	text-align: center;
	width: 100%
}
