body{
	margin: 0;
	padding:0;
	font-family: 'Libre Baskerville', serif;
	background: url(1.jpg);
}
#Logn .avatar{
	width: 120px;
	height: 100px;
	position: absolute;
	top: -60px;
	left: calc(35%);

}
.box{
	text-align: center;
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #191919;
}

.box input[type = "text"],.box input[type = "password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid orange;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}

.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
	width: 280px;
	border-color: #2ecc71
}

.box input[type = "submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid green;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;

}

.box input[type = "submit"]:hover{
	background: #2ecc71 ;	
}

.box input[type = "text"]:hover{
	background:white;

}
.box input[type = "password"]:hover{
	background: white;
}

#Logn ul li a {
	padding: 0;
	margin: 0;
	position: relative;
	top: 2vh;
	right: 3.5vh;	
	text-align: center;
	color: red;	
	text-decoration: none;
	font-size: 2vh;
}

#Logn ul li a:hover{
	color: green;
}























