	*{
	margin: 0;
	padding: 0;
	font-family: 'Libre Baskerville', serif;
	color:white;
	font-size: 17px;
}

#main ul li a{
	background:rgb(0,0,0,.3)
}


#main h1{
	font-size: 4vh;
}
header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 4vh;
	padding: 6vh;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:rgb(0,0,0,.9)


}
#main .highlight{
	color: #C68C0D;
	font-size: 5vh
}
.logo img{
	margin-top: 4vh;
	float: right;
	height: 8vh;
	width: 10vh;
	position: fixed;
	right:167vh;
	bottom:90vh;
}
	
ul {
	margin: 0px;
	padding: 0px;
	list-style: none;

}
ul li {
	float: left;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	
}
ul li a {
	text-decoration: none;
	color: white;
	display: block;

}
ul li a:hover {
	background-color: #C68C0D;
}
ul li ul li {
	display: none;
}
ul li:hover ul li {
	display: block;
}
/*naa dari anmg hover sa subtxt*/
#main ul li a:hover{
	background-color: #C68C0D;

}


/*content*/

.team-section{
	overflow: hidden;
	text-align: center;
	background: #757c80;
	padding: 30vh;

}
.team-section h1{
	text-transform: uppercase;
	margin-top: 10vh;
	margin-bottom: 60px;
	color: white;
	font-size: 40px;
	position: absolute;
	bottom: 57vh;
	left: 85vh;
	z-index: 100;
}
.color{
	display: block;
	width: 160px;
	height: 3px;
	background: #C68C0D	;
	position: absolute;
	top: 35vh;
	left: 89.5vh;

}
.color2{
	display: block;
	width: 65vh;
	height: 3px;
	background: maroon;
	position: absolute;
	top: 69vh;
	left: 70vh;

}
.ps{
	position: absolute;
	left: 65vh;
	bottom: 30vh;
}
.ps a img{
	filter: grayscale(100%);
	transition: 0.3s all;
}
.ps a img:hover{
	filter: none;	
}
.container1 img{
	width: 15%;
	height: 15%;
	float: left;
	margin: 2vh;
	border-radius: 50%;

}
.container2 img{
	width: 15%;
	height: 15%;
	float: left;
	margin: 2vh;
	border-radius: 50%;
}
.container3 img{
	width: 15%;
	height: 15%;
	float: left;
	margin: 2vh;
	border-radius: 50%;
}

.sulod{
	padding: 0;
	margin: 0;
	font-weight: bold;	
}
.sulod h2{
	color: black;
	position: absolute;
	top: 72vh;
	left: 97vh;
}
.sulod p{
	color: black;
	width: 70%;
	position: absolute;
	top: 77vh;
	left: 30vh;
	text-align: justify;
	font-weight: lighter;

}

footer{
	position: absolute;
	right: .2vh;
	padding: 15px;
	margin-right: 0;
	margin-top: 90vh;
	color: white;
	background-color: #C68C0D;
	text-align: center;
	width: 100%
}